:host {
    display: block;
    background-color: #333;

    .area {
        width: 1200px;
        margin: 0 auto;
        padding-top: 48px;
        padding-bottom: 56px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .link {
        color: #a6a6a6;
        margin-top: 12px;
        text-decoration: none;
    }
}
